 @using LitAnime.Services

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalablle=no" />
 @if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>@Config.CompanyName</title>
}