@model HomeViewModel

@{
    ViewBag.Title = "Search";
}

<div class="indexlogo">
    <div href="index.html">
        <b>LitAnime</b>
    </div>

    <form asp-area="" asp-controller="Home" asp-action="Index">
      <input asp-for=@Model.SearchString/>
    </form>
    
</div>
