@page
@model LitAnime.Views.Home.IndexModel
@{
    ViewBag.Title = "Home";
}

<div class="indexlogo">
    <div href="index.html">
        <b>LitAnime</b>
    </div>
    <input type="text" placeholder="Search" />
</div>
